
/* Reseting CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Customization */

/* General Rules */

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #2d2d2d;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

h1, 
h2,
h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.wrapper {
    width: 100%;
    height: auto;
}

section {
    padding-top: 3rem;
}

section:focus {
    outline: 0;
}

a:link, a:visited {
    color: #e2574c;
    text-decoration: none;
}

a:hover {
    color: #b64036;
}

.head-section-style-main {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 300;
    font-style: Italic;
    text-align: center;
}

.head-section-style-bold {
    font-weight: 600;
    font-style: normal;
}

.ordinary-text {
    font-size: 1rem;
    padding-top: 1.5rem;
    line-height: 2;
    text-align: center;
}

.brand-color {
    color: #969696;
}

.brand-color-light,
.brand-color-light p {
    color: #fff;
}

.second-brand-color {
    color: #e2574c;
}

.text-shadow {
    text-shadow: 2px 2px 3px hsla(0, 1%, 17%, 0.431);
}

/* Header Section */

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 1;
    width: 100%;
    padding-bottom: .75rem;
    box-shadow: 1px 1px 2px hsl(0, 1%, 78%);
}

.logo { 
    min-width: 120px;
    width: 25%;
    margin: .5rem auto .5rem .5rem;
    padding: .5rem 0 .5rem 0;
}

.cart {
    min-width: 50px;
    width: 10%;
    margin: .5rem .5rem .5rem auto;
    padding: .5rem 0 .5rem 0;
}

.count {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #e2574c;
    display: block;
    border: none;
    z-index: 2;
    position: absolute;
    top: 11px;
    right: 7px;
    text-align: center;
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: .75rem;
    display: none;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-top: 1px solid #d7d7d7;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 0 auto;
    padding-top: .75rem;
    padding-left: .5rem;
    padding-right: .5rem;
    width: 92%;
}

nav ul li {
    display: inline-block;
    padding: 0 .5rem 0 .5rem;
    text-align: center;
}

nav h3 {
    font-family: "Raleway";
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
}

/* Banner Section*/

.banner {
    background: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 0%, 0.267)), to(hsla(0, 0%, 0%, 0.267))), url("../images/banner-girl.png") 
    center 44px no-repeat, url("../images/flower-bkgd.jpg") repeat-x top;
    background: linear-gradient(hsla(0, 0%, 0%, 0.267), hsla(0, 0%, 0%, 0.267)), url("../images/banner-girl.png") 
    center 44px no-repeat, url("../images/flower-bkgd.jpg") repeat-x top;
    background-size: cover, 155px, cover;
    height: 300px;
    width: 100%;
    position: relative;
    padding: 3rem 0;
    margin-top: 123px;
}

.banner-text {
    text-align: center;
    display: inline-block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.collection {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.season {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.15;
}

/* About Section */

.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

.about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 700px;
}

/* Categories Section */

.categories-of-products {
    padding-top: 0;
    margin-top: 3rem;
}

.main-container {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 50vw;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
}

.grid-cell {
    position: relative;
}

.categories-text {
    text-align: center;
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.categories-text a {
    color: #fff;
}

.categories-text a:hover {
    color: #f5ebc6;
}

.categories-text h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 1.35rem;
    text-transform: uppercase;
    line-height: 1;
}

.products-for-men {
    grid-column: 1 / 3;
    grid-row: 1;
    background: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 0%, 0.267)), to(hsla(0, 0%, 0%, 0.267))), url("../images/mens-category.jpg") 
    no-repeat center top;
    background: linear-gradient(hsla(0, 0%, 0%, 0.267), hsla(0, 0%, 0%, 0.267)), url("../images/mens-category.jpg") 
    no-repeat center top;
    background-size: contain, cover;
}

.products-for-women {
    grid-column: 1 / 3;
    grid-row: 4; 
    background: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 0%, 0.267)), to(hsla(0, 0%, 0%, 0.267))), url("../images/womens-category.jpg") 
    no-repeat center top; 
    background: linear-gradient(hsla(0, 0%, 0%, 0.267), hsla(0, 0%, 0%, 0.267)), url("../images/womens-category.jpg") 
    no-repeat center top;
    background-size: contain, cover;
}

.trends {
    grid-column: 1;
    grid-row: 2;
    background: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 0%, 0.267)), to(hsla(0, 0%, 0%, 0.267))), url("../images/trends-category.jpg") 
    no-repeat center top;
    background: linear-gradient(hsla(0, 0%, 0%, 0.267), hsla(0, 0%, 0%, 0.267)), url("../images/trends-category.jpg") 
    no-repeat center top;
    background-size: contain, cover;
}

.glasses {
    grid-column: 2;
    grid-row: 2;
    background: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 0%, 0.267)), to(hsla(0, 0%, 0%, 0.267))), url("../images/glasses-category.jpg") 
    no-repeat center top;
    background: linear-gradient(hsla(0, 0%, 0%, 0.267), hsla(0, 0%, 0%, 0.267)), url("../images/glasses-category.jpg") 
    no-repeat center top;
    background-size: contain, cover;
}

.sale {
    grid-column: 1;
    grid-row: 3;
    background: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 0%, 0.267)), to(hsla(0, 0%, 0%, 0.267))), url("../images/sale-category.jpg") 
    no-repeat center top;
    background: linear-gradient(hsla(0, 0%, 0%, 0.267), hsla(0, 0%, 0%, 0.267)), url("../images/sale-category.jpg") 
    no-repeat center top;
    background-size: contain, cover;
}

.bags {
    grid-column: 2;
    grid-row: 3;
    background: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 0%, 0.267)), to(hsla(0, 0%, 0%, 0.267))), url("../images/bags-category.jpg") 
    no-repeat center top;
    background: linear-gradient(hsla(0, 0%, 0%, 0.267), hsla(0, 0%, 0%, 0.267)), url("../images/bags-category.jpg") 
    no-repeat center top;
    background-size: contain, cover;
}

/*  Collection Section */

.popular-products h3 {
    font-size: 1.5rem;
    font-weight: 300;
}

.popular-products p {
    text-transform: uppercase;
    font-size: .65rem;
    font-weight: 500;
}

p.price {
    font-size: .85rem;
    margin-top: .5rem;
    margin-bottom: .75rem;
}

.carousel {
    width: 100%;
    margin: 1vw 0 6vw 0;
}
  
.carousel-cell {
    width: 100%;
    min-width: 300px;
    height: auto;
    text-align: center; 
    line-height: 2rem;
    border-radius: 5px;
    counter-increment: carousel-cell;
}

.carousel-cell img {
    width: 100%;
    max-width: 300px;
    margin-top: 3rem;
}

.add-to-cart-button {
    color: #fff;
    background-color: #242424;
    border: none;
    padding: .35rem .25rem;
    text-decoration: none;
    font-weight: 500;
    font-size: .75rem;
    cursor: pointer;
    border-radius: 25px;
    text-align: center;
    width: 90px;
    margin-bottom: 3rem;
}

.add-to-cart-button:hover {
    background-color: #0f87a2;
}

/* Subscription Section */

/* Text Area */

.subscription {
    background: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 19%, 0.275)), to(hsla(0, 0%, 19%, 0.275)), url("../images/wave-bkgd.jpg") no-repeat bottom);
    background: linear-gradient(hsla(0, 0%, 19%, 0.275), hsla(0, 0%, 19%, 0.275)), url("../images/wave-bkgd.jpg") no-repeat bottom;
    background-size: cover, cover;
    width: 100%;
    position: relative;
    margin-top: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 8px;
}

.subscription-content-text {
    padding: 0 1rem 0 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
}

/* Form Area */

.subscription-form {
    border-radius: 25px;
    border: none;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin: 2rem auto 4rem auto;
    background: #fff;
}
  
.sign-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    text-align: center;
}
  
input {
    font-family: inherit;
    font-size: 100%;
    margin: 0 auto;
}
  
.input-placer {
    padding: .5rem;
}
  
input[type=email] {
    width: 90%;
    margin-right: 5rem;
    margin-left: .5rem;
    border: none;
}

.button-placer {
    background-color: #fff;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-right: .25rem;
}
  
input[type=submit] {
    color: #fff;
    background-color: #e2574c;
    border: none;
    padding: .65rem 1rem;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    border-radius: 25px;
    text-align: center;
    width: 100%;
}
  
input[type=submit]:hover {
    background-color: #b64036;
}

/* Footer */

footer {
    display: block;
    text-align: center;
    width: 100%;
    background-color: #242424;
    padding-top: 3rem;
    padding-bottom: 4rem;
    line-height: 1.25;
}

footer li {
    line-height: 1.5;
}

.contacts {
    margin-bottom: 1.5rem;
}

.contacts a {
    color: #fff;
    text-decoration: underline;
}

.contacts a:hover {
    color: #b64036;
}

.social ul li a {
    color: #fff;
    text-decoration: none;
}

.social ul li a:hover {
    color: #b64036;
    text-decoration: none;
}

.social li {
    display: inline-block;
    padding-right: .5rem;
}

.social li:last-child {
    padding-right: 0;
}

footer p {
    font-family: "Playfair Display";
}

.networks {
    display: none;
}

/* Media Queries */

@media only screen and (min-width: 600px) {
    .wrapper {
        min-width: 600px;
    }
    
    body {
        font-size: 16px;
    }

    section {
        padding-top: 4rem;
    }

    .head-section-style-main {
        font-size: 2.5rem;
    }

    .ordinary-text {
        font-size: 1.15rem;
    }
    
    header {                
        -ms-flex-wrap: nowrap;                
            flex-wrap: nowrap;
        margin: 0 auto .5rem auto;
        padding: .5rem 0 .5rem 0;
    }
    
    .logo { 
        max-width: 130px;
        margin: 0;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        padding-left: .75rem;
    }
    
    .cart {
        max-width: 40px;
        margin: 0;
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
        padding-right: .75rem;
    }

    .count {
        top: 12px;
        right: 10px;
    }

    nav {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        margin: 0;
        border: none;
    }

    nav h3 {
        font-size: .90rem;
    }

    .banner {
        margin-top: 82px;
    }

    .collection {
        font-size: 1.25rem;
    }

    .season {
        font-size: 3rem;
    }
    
    .categories-of-products {
        margin-top: 4rem;;
    }

    .main-container {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 25vw;
    }
    
    .categories-text h2 {
        font-size: 1.75rem;
    }
    
    .products-for-men {
        grid-column: 1 / 3;
        grid-row: 1;
    }
    
    .products-for-women {
        grid-column: 3 / 5;
        grid-row: 2; 
    }
    
    .trends {
        grid-column: 3;
        grid-row: 1;
    }
    
    .glasses {
        grid-column: 4;
        grid-row: 1;
    }
    
    .sale {
        grid-column: 1;
        grid-row: 2;
    }
    
    .bags {
        grid-column: 2;
        grid-row: 2;
    }

    .popular-products h3 {
        font-size: 1.5rem;
        font-weight: 300;
    }
    
    .popular-products p {
        font-size: .75rem;
    }
    
    p.price {
        font-size: 1rem;
    }

    .carousel-cell {
        width: 50%;
    }

    .carousel-cell img {
        max-width: 240px;
    }
    
    .subscription {
        margin-top: 4.25rem;
    }

    input[type=email] {
        margin-right: 6rem;
    }

    footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        text-align: left;
        padding-top: 4rem;
        padding-bottom: 4rem;
        line-height: 1.5;
    }

    footer li {
        line-height: 2;
    }

    .contacts {
        padding-left: 1.25rem;
        margin-bottom: 0;
    }
    
    .social {
        margin-right: 3rem;
    }
    
    .social li {
        display: block;
        padding: 0;
    }

    .social li:last-child {
        padding-left: .25rem;
    }

    .networks {
        display: inline-block;
        margin-left: .75rem;
    }

}

@media only screen and (min-width: 1240px){
    .wrapper {
        min-width: 1240px;
    }
    
    .logo { 
        max-width: 160px;
        padding-left: 1rem;
    }

    .cart {
        min-width: 60px;
        padding-right: 1rem;
    }

    .count {
        width: 25px;
        height: 25px;
        top: 13px;
        right: 11px;
        font-size: 1.15rem;
    }

    nav {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    nav ul li {
        padding: 0 1rem 0 1rem;
    }
    
    nav h3 {
        font-size: 1rem;
    }

    .banner {
        background-size: cover, 260px, contain;
        height: 460px;
    }

    .season {
        font-size: 4rem;
    }

    .categories-text h2 {
        font-size: 2.5rem;
    }

    .carousel-cell {
        width: 25%;
    }

    input[type=email] {
        margin-right: 6.5rem;
    }

    .social {
        margin-right: 5.5rem;
    }
}