
/* Reseting CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Customization */

/* General */

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #2d2d2d;
    box-sizing: border-box;
}

h1, 
h2,
h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.wrapper {
    min-width: 360px;
    width: 100%;
    height: auto;
}

section {
    padding-top: 3rem;
}

section:focus {
    outline: 0;
}

a:link, a:visited {
    color: #e2574c;
    text-decoration: none;
}

a:hover {
    color: #b64036;
}

.head-section-style {
    font-weight: 600;
    font-style: normal;
}

.brand-color {
    color: #969696;
}

.brand-color-light,
.brand-color-light p {
    color: #fff;
}

.second-brand-color {
    color: #e2574c;
}

.text-shadow {
    text-shadow: 2px 2px 3px #2b2a2a6e;
}

/* Header Section */

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
    padding: .5rem;
    /* position: fixed;
    top: 0;
    background-color: #fff; */
}

.logo { 
    min-width: 130px;
    width: 30%;
}

.cart {
    min-width: 50px;
    width: 10%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 1px solid #d7d7d7;
    justify-content: center;
    margin: .5rem auto .25rem auto;
    padding-top: .75rem;
    width: 100%;
}

nav ul li {
    display: inline-block;
    padding: 0 .5rem 0 .5rem;
    text-align: center;
}

nav h3 {
    font-family: "Raleway";
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
}

/* Banner Section*/

.banner {
    background: linear-gradient(#00000044, #00000044), url("../images/banner-girl.png") 
    no-repeat center bottom, url("../images/flower-bkgd.jpg") repeat-x top;
    background-size: cover, auto 90%, cover;
    height: 300px;
    width: 100%;
    position: relative;
    padding: 3rem 0;
    margin-top: 0; 

}

.banner-text {
    text-align: center;
    display: inline-block;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.collection {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.season {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.15;
}

/* About Section */

.about {
    /* margin: 1.25rem auto 0 auto; */
    padding-right: 1rem;
    padding-left: 1rem;
    /* max-width: 100%; */
}

.about h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 300;
    font-style: Italic;
    text-align: center;
}

.about p {
    font-size: 1rem;
    padding-top: 1rem;
    line-height: 2;
    text-align: center;
}

/* Categories Section */

.categories-of-products {
    padding-top: 0;
    margin-top: 3rem;
}

.main-container {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 50vw;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
}

.grid-cell {
    position: relative;
}

.categories-text {
    text-align: center;
    display: block;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.categories-text h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 1.35rem;
    text-transform: uppercase;
    line-height: 1;
}

.products-for-men {
    grid-column: 1 / 3;
    grid-row: 1;
    background: linear-gradient(#00000044, #00000044), url("../images/mens-category.jpg") 
    no-repeat center top;
    background-size: contain, cover;
}

.products-for-women {
    grid-column: 1 / 3;
    grid-row: 4; 
    background: linear-gradient(#00000044, #00000044), url("../images/womens-category.jpg") 
    no-repeat center top;
    background-size: contain, cover;
}

.trends {
    grid-column: 1;
    grid-row: 2;
    background: linear-gradient(#00000044, #00000044), url("../images/trends-category.jpg") 
    no-repeat center top;
    background-size: contain, cover;
}

.glasses {
    grid-column: 2;
    grid-row: 2;
    background: linear-gradient(#00000044, #00000044), url("../images/glasses-category.jpg") 
    no-repeat center top;
    background-size: contain, cover;
}

.sale {
    grid-column: 1;
    grid-row: 3;
    background: linear-gradient(#00000044, #00000044), url("../images/sale-category.jpg") 
    no-repeat center top;
    background-size: contain, cover;
}

.bags {
    grid-column: 2;
    grid-row: 3;
    background: linear-gradient(#00000044, #00000044), url("../images/bags-category.jpg") 
    no-repeat center top;
    background-size: contain, cover;
}

/*  Collection Section */
  
.popular-products h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 300;
    font-style: Italic;
    text-align: center;
}

.popular-products h3 {
    font-size: 1.5rem;
    font-weight: 300;
}

.popular-products p {
    text-transform: uppercase;
    font-size: .65rem;
    font-weight: 500;
}

p.price {
    font-size: .85rem;
    margin-bottom: 2rem;
    margin-top: .25rem;
}

.carousel {
    width: 100%;
    margin: 1vh 0 6vh 0;
}

.carousel-cell * {
    margin-right: 0;
}
  
.carousel-cell {
    min-width: 300px;
    width: 25%;
    height: auto;
    text-align: center; 
    line-height: 2rem;
    border-radius: 5px;
    counter-increment: carousel-cell;
}

.carousel-cell img {
    width: 100%;
}

/* Subscribe Section */

/* Text Area */

.subscription {
    background: linear-gradient(#00000044, #00000044), url("../images/wave-bkgd.jpg") no-repeat bottom;
    background-size: static, cover;
    width: 100%;
    position: relative;
    margin-top: 4rem;
}

.subscription-content {
    margin-bottom: 8px;
    padding: 0 .35rem 0 .35rem;
}

.subscription h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 300;
    font-style: Italic;
    text-align: center;
    /* padding-top: 2.5rem; */
}

.subscription p {
    text-align: center;
    padding-top: 1rem;
    line-height: 1.25rem;
    text-align: center;
    font-size: 1rem;
    display: block;
    margin: 0 auto;
    line-height: 2;
}

/* Form Area */

.sign-up {
    display: block;
    margin: 2rem auto 0 auto;
    padding-bottom: 3rem;
    position: relative;
    text-align: center;
}

input {
    font-family: inherit;
    font-size: 100%;
    margin: 0 auto;
}

input[type=email] {
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: .85rem 1.25rem;
    width: 60%;
    max-width: 175px;
    display: inline-block;
    
}
.button-placer {
    background-color: #fff;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 3px;
    width: 30%;
    height: 30%;
    margin: 0;
    display: inline-block;
    max-width: 115px; 
    position: relative;
    left: -2px;
}

input[type=submit] {
    color: #fff;
    background-color: #e2574c;
    border: none;
    padding: .66rem 1rem;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    border-radius: 25px;
    text-align: center;
    max-width: 115px; 
    width: 100%;
}

/* Footer */

footer {
    display: block;
    text-align: center;
    width: 100%;
    background-color: #242424;
    padding-top: 3rem;
    padding-bottom: 4rem;
    line-height: 1.25;
}

footer li {
    line-height: 1.5;
}

.contacts {
    margin-bottom: 1.5rem;
}

.contacts a {
    color: #fff;
    text-decoration: underline;
}

.contacts a:hover {
    color: #b64036;
}

.social ul li a {
    color: #fff;
    text-decoration: none;
}

.social ul li a:hover {
    color: #b64036;
    text-decoration: none;
}

.social li {
    display: inline-block;
    padding-right: .5rem;
}

.social li:last-child {
    padding-right: 0;
}

footer p {
    font-family: "Playfair Display";
}

.networks {
    display: none;
}

/* Media Queries */

@media screen and (min-width: 600px) {
    .wrapper {
        min-width: 600px;
    }
    
    body {
        font-size: 16px;
    }

    section {
        padding-top: 4rem;
    }
    
    header {                
        flex-wrap: nowrap;
        margin: 1.75rem auto 1rem auto;
        padding-right: .75rem;
        padding-left: .75rem;
    }
    
    .logo { 
        max-width: 130px;
        margin: 0;
        order: 1;
    }
    
    .cart {
        max-width: 40px;
        margin: 0;
        order: 3;
    }

    nav {
        order: 2;
        margin: 0;
        border: none;
    }

    nav h3 {
        font-size: .85rem;
    }

    .collection {
        font-size: 1.25rem;
    }

    .season {
        font-size: 3rem;
    }

    .about {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    .about h2 {
        font-size: 2.25rem;
    }

    .about p {
        font-size: 1.25rem;
    }
    
    .categories-of-products {
        margin-top: 4rem;;
    }

    .main-container {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 25vw;
    }
    
    .categories-text h2 {
        font-size: 1.75rem;
    }
    
    .products-for-men {
        grid-column: 1 / 3;
        grid-row: 1;
    }
    
    .products-for-women {
        grid-column: 3 / 5;
        grid-row: 2; 
    }
    
    .trends {
        grid-column: 3;
        grid-row: 1;
    }
    
    .glasses {
        grid-column: 4;
        grid-row: 1;
    }
    
    .sale {
        grid-column: 1;
        grid-row: 2;
    }
    
    .bags {
        grid-column: 2;
        grid-row: 2;
    }

    .popular-products h2 {
        font-size: 2.25rem;
    }
    
    .subscription {
        margin-top: 5rem;
    }

    .subscription-content {
        padding: 0 1.25rem 0 1.25rem;
    }

    .subscription h2 { 
        font-size: 2.25rem;
        /* padding-top: 4rem; */
    }

    .subscription p {
        font-size: 1.25rem;
    }

    .sign-up {
        padding-bottom: 4.25rem;
    }

    input[type=email] {
        max-width: 220px;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        padding-top: 4rem;
        padding-bottom: 4rem;
        line-height: 1.5;
    }

    footer li {
        line-height: 2;
    }

    .contacts {
        padding-left: 1.25rem;
        margin-bottom: 0;
    }
    
    .social {
        margin-right: 2rem;
    }
    
    .social li {
        display: block;
        padding: 0;
    }

    .social li:last-child {
        padding-left: .25rem;
    }

    .networks {
        display: inline-block;
        margin-left: .75rem;
    }

}

@media screen and (min-width: 1240px){
    
}