/* Fonts*/

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Medium.eot');
    src: url('Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('Raleway-Medium.woff') format('woff'),
        url('Raleway-Medium.ttf') format('truetype'),
        url('Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-MediumItalic.eot');
    src: url('Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Raleway-MediumItalic.woff') format('woff'),
        url('Raleway-MediumItalic.ttf') format('truetype'),
        url('Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Light.eot');
    src: url('Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('Raleway-Light.woff') format('woff'),
        url('Raleway-Light.ttf') format('truetype'),
        url('Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-LightItalic.eot');
    src: url('Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Raleway-LightItalic.woff') format('woff'),
        url('Raleway-LightItalic.ttf') format('truetype'),
        url('Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('PlayfairDisplay-Regular.eot');
    src: url('PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('PlayfairDisplay-Regular.woff') format('woff'),
        url('PlayfairDisplay-Regular.ttf') format('truetype'),
        url('PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('PlayfairDisplay-Bold.eot');
    src: url('PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('PlayfairDisplay-Bold.woff') format('woff'),
        url('PlayfairDisplay-Bold.ttf') format('truetype'),
        url('PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('PlayfairDisplay-BoldItalic.eot');
    src: url('PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('PlayfairDisplay-BoldItalic.woff') format('woff'),
        url('PlayfairDisplay-BoldItalic.ttf') format('truetype'),
        url('PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('PlayfairDisplay-Italic.eot');
    src: url('PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
        url('PlayfairDisplay-Italic.woff') format('woff'),
        url('PlayfairDisplay-Italic.ttf') format('truetype'),
        url('PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}


/* Reseting CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Customize */
/*Base*/

body {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #2d2d2d;
    box-sizing: border-box;
}

h1, 
h2,
h3 {
    font-family: "Playfair Display", serif;
    font-weight: 600;

}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

/* Header Section */

header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
}

.logo { 
    width: 16%;
    padding-left: 1.75rem;
}

.cart {
    width: 5%;
    padding-right: 1.75rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul li {
    display: inline-block;
    padding: .75rem;
}

nav h3 {
    color: #e2574c;
    font-family: "Raleway";
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.25rem;
}


p {
    color: #969696;
}

.gray {
    color: #969696;
}

/* Banner Section*/

.banner {
    background: linear-gradient(#00000044, #00000044), url("images/banner-girl.png") 
    no-repeat center bottom, url("images/flower-bkgd.jpg") repeat-x top;
    background-size: cover, auto 90%, cover;
    height: 400px;
    width: 100%;
    position: relative;
    padding: 3rem 0;

}

.banner-header {
    text-align: center;
    color: #fff;
    display: inline-block;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 3px #2b2a2aec;
}

.collection {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.season {
    font-size: 3rem;
    font-weight: 300;
}

/* About Section */



/*  Collection Section */



.popular-products {

}

.popular-products h3 {
    color: #e2574c;
}


/* Footer */

footer {
    display: flex;
    align-items: center;
    height: 30vh;
    justify-content: space-between;
    background-color: #242424;
}

footer p, li {
    color: #fff;
}

.contacts {
    padding-left: 1.25rem;
}

.social {
    padding-right: 1.25rem;
}

footer p {
    font-family: "Playfair Display";
}

span {
    margin-left: 1rem;
}